In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:/Users/aggar/Downloads/correct_twitter_202102.tsv', sep='\t')
df.head()

C:\Users\aggar\AppData\Local\Temp\ipykernel_2184\155481366.py:1: DtypeWarning: Columns (0,4,5,7,8,9,10,11,12,13,16,19,20,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('C:/Users/aggar/Downloads/correct_twitter_202102.tsv', sep='\t')

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1358322479136178177,britney_202102,2022-03-01 09:06:52.403595-05:00,2022-03-01 09:06:52.403595-05:00,True,True,False,False,False,False,...,1358248863887458304,93259372,briebxrries,1002,None,None,None,None,None,None
1,1358323016736796677,britney_202102,2022-01-05 08:34:04.477789-05:00,2022-03-01 09:06:52.398778-05:00,True,True,False,False,False,False,...,1358189171500843011,17525171,Variety,2669599,None,None,['FreeBritney'],None,None,None
2,1358322996696465409,britney_202102,2022-03-01 09:06:52.399008-05:00,2022-03-01 09:06:52.399008-05:00,True,True,False,False,False,False,...,1358200732609097734,403576578,Johnnerkell,2650,None,None,None,None,None,None
3,1358322976769286151,britney_202102,2022-03-01 09:06:52.399205-05:00,2022-03-01 09:06:52.399205-05:00,True,True,False,False,False,False,...,1358237823648825348,4429003533,PopCrave,880695,None,None,['FramingBritney'],None,None,None
4,1368923802260889606,britney_202102,2022-03-01 07:26:05.505986-05:00,2022-03-01 07:26:05.505986-05:00,True,True,False,False,False,False,...,None,None,None,None,None,None,None,None,None,None

In [3]:
df.shape

(845730, 46)

In [4]:
1.
# Convert the 'date' column to datetime format if not already
df['ts1'] = pd.to_datetime(df['ts1'], errors='coerce').dt.date

# the term you want to search
search_term = "music"

# Filter the rows where it contains the specific term
filtered_df = df[df['author_handle'].str.contains(search_term, case=False, na=False)]

# Group by date and count the number of tweets per day
tweet_counts_per_day = filtered_df.groupby('ts1').size()

print(tweet_counts_per_day)

ts1
2022-01-04      37
2022-01-05     318
2022-01-22       2
2022-03-01    2219
dtype: int64

In [5]:
2.
# the term you want to search 

search_term = "music"

# Filter the rows where itcontains the specific term

filtered_df = df[df['author_handle'].str.contains(search_term, case=False, na=False)]

# Get the number of unique users who posted tweets containing the term-music

unique_users = filtered_df['id'].nunique()
    
print(f'The number of unique users who posted tweets containing the term: {unique_users}')

The number of unique users who posted tweets containing the term: 2576

In [6]:
3.
# Specify the term you want to search for
search_term = "music"

# Filter the rows where it contains the specific term
filtered_df = df[df['author_handle'].str.contains(search_term, case=False, na=False)]

# Convert the 'like' column to numeric, invalid parsing will be set as NaN
filtered_df['like_count'] = pd.to_numeric(filtered_df['like_count'], errors='coerce')

# Calculate the average number of likes for the filtered tweets
average_likes = filtered_df['like_count'].mean()

print(f'The average number of likes for tweets containing the term: {average_likes:.2f}')

The average number of likes for tweets containing the term: 175.80

C:\Users\aggar\AppData\Local\Temp\ipykernel_2184\3332101212.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['like_count'] = pd.to_numeric(filtered_df['like_count'], errors='coerce')

In [7]:
4.
# Specify the term you want to search for
search_term = "music"

# Filter the rows where it contains the specific term
filtered_df = df[df['author_handle'].str.contains(search_term, case=False, na=False)]

# Get the unique place IDs from the filtered DataFrame
unique_place_ids = filtered_df['place_id'].dropna().unique()

print(f'Unique place IDs for tweets containing the term: {unique_place_ids}')

Unique place IDs for tweets containing the term: ['None' '011add077f4d2da3' 'dd9c503d6c35364b' '575c6d4e1b73546d'
 '06b9691f34c91d1c' '300bcc6e23a88361' '00482e135814d8a7'
 '659395aaea6aa724' '9f4583bf6dae13c4' 'c95cdb2a983262e5'
 'a592bd6ceb1319f7' '23a06e5cc6d83009']

In [16]:
5.
# Convert the 'ts1' column to datetime format
df['ts1'] = pd.to_datetime(df['ts1'], errors='coerce')

# Check the data types after conversion
#print(df.dtypes)

# Optional: Check the first few rows to ensure proper conversion
#print(df['ts1'].head())

# Extract the hour from the 'timestamp' column
df['hour'] = df['ts1'].dt.hour

# Convert the 'timestamp' column to datetime, invalid parsing will be set as NaT
df['ts1'] = pd.to_datetime(df['ts1'], errors='coerce')

# Check if there are any rows where conversion failed (i.e., 'NaT' values)
#invalid_timestamps = df[df['ts1'].isna()]
#print(f"Invalid timestamps:\n{invalid_timestamps}")

# Extract the hour from the 'timestamp' column for valid entries
df['hour'] = df['ts1'].dt.hour

# Get the number of tweets posted at each hour
tweets_by_hour = df['hour'].value_counts().sort_index()

print(tweets_by_hour)

0.0    845726
Name: hour, dtype: int64

In [24]:
6.
# Specify the term you want to search for
search_term = "music"

# Step 1: Filter the rows where 'tweet_text' contains the specific term
filtered_df = df[df['author_handle'].str.contains(search_term, case=False, na=False)]

# Step 2: Group by 'user_id' and count the number of tweets per user
tweet_counts_by_user = filtered_df.groupby('id').size()

# Step 3: Find the user with the maximum number of tweets
most_active_user = tweet_counts_by_user.idxmax()
most_tweets_count = tweet_counts_by_user.max()

print(f'The user with the most tweets containing the term is: {most_active_user} with {most_tweets_count} tweets.')

The user with the most tweets containing the term is: 1344872116122841088 with 1 tweets.